/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #E6E6FA
}

h1 {
  text-align: center;
  color: goldenrod;
  font-family: serif;
  font-size: 48px;
}

h2 {
  color: #191970
  font-family: serif;
  font-size: 24px;
}

p {
  color: #191970
  font-family: serif;
  font-size: 16px;
}

.bs-linebreak {
  height:0px;
}

img {
  max-width: 67%;
  height: auto;
  margin-right: 6px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
